@use '../custom' as*;

.slideshow {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    div {
        width: 100%;
        height: 100%;
        position: absolute;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0;
        transition: opacity 5s;

        &.change {
            opacity: 1;
        }

    }
   
}

// ***** landing page text *****//
.text {
    padding: 7rem 0 0 8rem;


    &__title {
        color: #fff;
        font-weight: 300;
        font-size: 2rem;
        margin-bottom: 1.5rem;


    }
    &__description1 {
        color: $white;
        font-size: 5rem;
        font-weight: 100;

        strong {
            color: $secondary-light-color;
        }

    }
    &__description2 {
        font-size: 2rem;
        color: $ligher-grey;

    }
   
}

// ******************* Form and intro text section ***********************//

.rate-form-section {
    .container {
        .row {
            .text {
                font-family: sans-serif;
                line-height: 1.8;

                h2 {
                    margin-bottom: 2.5rem;
                    font-weight: bolder;
                    font-size: 2.5rem;
                    color: $tertiary-color;
                    font-weight: 3rem;

                }

                p {
                    font-size: 2rem;
                    color: $gray-600;
                    letter-spacing: 2px;
                    margin-left: -5rem;
                }
            }

        }

    }

}


// floating-bg section 
.floating-bg {
    width: 150vw;
    height: 150vw;
    background-color: rgba(207, 238, 242, 0.1);
    position: absolute;
    top: -95vw;
    left: calc(50% - 75vw);
    border-radius: 30%;
    animation: rotate 30s infinite;

    .floating-bg::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(50, 231, 255, .1);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 40%;
    }

}

@keyframes rotate {
    0% {
        transform: rotate (0);
    }
    100% {
        transform: rotate(360deg);
    }
}
