@use'../custom' as *;
@use'../components/mixins' as *;
@use'../sections/hero' as *;

.navbar-buttons {

    .navbar-btn {
        width: 12rem;
        padding: 1rem;
        margin: .3rem;
        font-size: 1.4rem;
        font-weight: 600;
       
    }

    .for-booking {
        border: none;
        border: .2rem solid $secondary-color;
        color: $primary-color;
        background-color: $white;
        
    }

    .join-us {
        background-color: $secondary-color;
        border: none;

    }
}


// ************READMORE BUTTON *******************
.text__btn {
    display: inline-block;
    width: 13rem;
    height: 5rem;
    border: 1px solid $white;
    padding: .8rem;
    margin: 5rem 0 2rem 0;
    font-size: 2rem;
    font-weight: bold;
    // line-height: normal;
    text-align: center;
    border-radius: 3px;
    color: $secondary-light-color;

    &:hover {
        color: $white;
        background-color: $secondary-light-color;
        transition: .3s ease-in-out;
    }

}